body {
    background-color: #181818;
}

.display-screen {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 85vh;
    background-color: #181818;
}

.display-screen-w-sidebar {
    display: flex;
    flex-flow: row nowrap;
    width: 85vw;
    height: 85vh;
    background-color: #181818;
}

/* CSS For Projects, Tasks, and each item that was created w/ Add-Item */

#project-holder {
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
}

#display {
    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25em;
}

.project-divs {
    display: flex;
    flex-flow: row wrap;
    width: 84vw;
    height: 10vh;
    border-left: 0.2em solid #f2f2f2;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.project-divs:hover {
    opacity: 80%;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.project-divs-hidden {
    display: none;
}

.project-div-priority-1 {
    border-left: 0.2em solid red;
}

.project-div-priority-2 {
    border-left: 0.2em solid orange;
}

.project-div-priority-3 {
    border-left: 0.2em solid yellow;
}

.project-div-priority-4 {
    border-left: 0.2em solid green;
}

.project-display-container {
    display: flex;
    flex-flow: row nowrap;
    width: 84vw;
    height: 10vh;
    gap: 0.25em;
    align-items: center;
}

.checkbox-access {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2vw;
    height: 2vh;
    margin-left: 1em;
}

.complete-button-closed {
    display: none;
    visibility: hidden;
}

.complete-button-open {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2.5vw;
    height: 2.5vh;
    background: center / contain no-repeat url(../svgs/archive.svg);
    filter: invert(76%) sepia(48%) saturate(3796%) hue-rotate(3deg) brightness(109%) contrast(98%);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.project-display-title-text {
    display: flex;
    font-size: 1.5em;
    width: 15vw;
    height: 6vh;
    color: #f2f2f2;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    opacity: 90%;
}

.project-display-description-text {
    display: flex;
    font-size: 1em;
    width: 50vw;
    height: 6vh;
    color: #f2f2f2;
    align-items: center;
    justify-content: flex-start;
    opacity: 90%;
    margin: auto;
}

.project-display-due-text {
    display: flex;
    font-size: 1.25em;
    width: 8vw;
    height: 6vh;
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    margin: auto;
}

.view-project-container-open {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.view-project-container-closed {
    display: none;
    visibility: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.view-project-svg-open {
    display: flex;
    flex-flow: column wrap;
    width: 2.5vw;
    height: 2.5vh;
    background: center / contain no-repeat url(../svgs/add-task.svg);
    filter: invert(76%) sepia(48%) saturate(3796%) hue-rotate(3deg) brightness(109%) contrast(98%);
    justify-content: center;
    align-items: center;
}

.view-project-svg-closed {
    display: none;
    visibility: hidden;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.view-project-text-open {
    display: flex;
    flex-flow: column wrap;
    color: #f2f2f2;
    font-size: 0.7em;
    margin: 0;
    opacity: 90%;
}

.view-project-text-closed {
    display: none;
    visibility: hidden;
    flex-flow: column wrap;
}

.add-task-container-open {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}

.add-task-container-closed {
    display: none;
    visibility: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.add-task-svg-open {
    display: flex;
    flex-flow: column wrap;
    width: 2.5vw;
    height: 2.5vh;
    background: center / contain no-repeat url(../svgs/add.svg);
    filter: invert(59%) sepia(15%) saturate(2772%) hue-rotate(63deg) brightness(100%) contrast(81%);
    justify-content: center;
    align-items: center;
}

.add-task-svg-closed {
    display: none;
    visibility: hidden;
    flex-flow: column wrap;
}

.add-task-text-open {
    display: flex;
    flex-flow: column wrap;
    color: #f2f2f2;
    font-size: 0.7em;
    margin: 0;
    opacity: 90%;
}

.add-task-text-closed {
    display: none;
    visibility: hidden;
    flex-flow: column wrap;
}

.edit-project-open {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2.75vw;
    height: 2.75vh;
    background: center / contain no-repeat url(../svgs/edit-it.svg);
    filter: invert(56%) sepia(72%) saturate(259%) hue-rotate(150deg) brightness(87%) contrast(85%);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.edit-project-closed {
    display: none;
    visibility: hidden;
    flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.delete-project-open {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2.75vw;
    height: 2.75vh;
    background: center / contain no-repeat url(../svgs/delete.svg);
    filter: invert(22%) sepia(42%) saturate(5109%) hue-rotate(348deg) brightness(104%) contrast(92%);
    justify-content: center;
    align-items: center;
}

.delete-project-closed {
    display: none;
    visibility: hidden;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}