.add-item-nav {
    display: flex;
    flex-flow: column wrap;
    width: 65vw;
    height: 80vh;
    overflow: scroll;
    background-color: #181818;
    color: #f2f2f2;
    position: absolute; left: 20vw; top: 18vh;
}

.add-item-form-container {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 79vh;
}

.item-fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 79vh;
}

.label-title {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 4vh;
    font-size: 2em;
    padding-bottom: 1%;
}

.input-title {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 4vh;
    resize: vertical;
    font-size: 2em;
    background-color: #f2f2f2;
    color: #282828;
    opacity: 90%;
}

.label-description {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 4vh;
    font-size: 2em;
    padding-bottom: 1%;
}

.input-description {
    display: flex;
    flex-flow: column wrap;
    width: 59vw;
    height: 15vh;
    resize: vertical;
    overflow-y: scroll;
    font-size: 1.5em;
    background-color: #f2f2f2;
    color: #282828;
    opacity: 90%;
}

.label-calendar {
    display: flex;
    flex-flow: column wrap;
    width: 15vw;
    height: 4vh;
    font-size: 2em;
    padding-bottom: 1%;
}

.input-calendar {
    display: flex;
    flex-flow: column wrap;
    width: 10vw;
    height: 7vh;
    background-color: #f2f2f2;
    color: #282828;
    font-size: 1.5em;
    opacity: 90%;
}

.label-priority {
    display: flex;
    flex-flow: column wrap;
    width: 15vw;
    height: 4vh;
    font-size: 2em;
    padding-bottom: 1%;
}

.priority-button-container {
    display: flex;
    flex-flow: column nowrap;
    width: 40vw;
    height: 7vh;
}

.priority-button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 10.25vw;
    height: 7vh;
    background-color: #f2f2f2;
    color: #282828;
    font-size: 1em;
    opacity: 90%;
    margin-top: 1%;
}

.priority-0, .priority-1, .priority-2, .priority-3, .priority-4 {
    display: flex;
    width: 0.5fr;
    height: 0.5fr;
}

.priority-0 {
    filter: invert(0%) sepia(7%) saturate(1487%) hue-rotate(341deg) brightness(97%) contrast(92%);
}

.priority-1 {
    filter: invert(32%) sepia(90%) saturate(6963%) hue-rotate(1deg) brightness(97%) contrast(133%);
}

.priority-2 {
    filter: invert(44%) sepia(96%) saturate(864%) hue-rotate(0deg) brightness(99%) contrast(98%);
}

.priority-3 {
    filter: invert(88%) sepia(57%) saturate(627%) hue-rotate(353deg) brightness(91%) contrast(104%); 
}

.priority-4 {
    filter: invert(90%) sepia(22%) saturate(1790%) hue-rotate(31deg) brightness(94%) contrast(105%);
}

.submit-button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 5vh;
    color: #282828;
    opacity: 90%;
    font-size: 1.5em;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 1%;
    background-color: #41fc03;
}

.cancel-button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 5vh;
    color: #282828;
    opacity: 90%;
    font-size: 1.5em;
    margin: auto;
    margin-top: 0.25%;
    background-color: #de1d1d;
}

/* SELECTED PRIORITY STYLING SELECTED PRIORITY STYLING SELECTED PRIORITY STYLING SELECTED PRIORITY STYLING SELECTED PRIORITY STYLING */

.selected-priority-1 {
    border: 2px solid red;
    box-shadow: red 2px 2px;
}

.selected-priority-2 {
    border: 2px solid orange;
    box-shadow: orange 2px 2px;
}

.selected-priority-3 {
    border: 2px solid yellow;
    box-shadow: yellow 2px 2px;
}

.selected-priority-4 {
    border: 2px solid green;
    box-shadow: green 2px 2px;
}