.side-bar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #2B2B2B;
    width: 15vw;
    height: 85vh;
    overflow-y: scroll;
}

.side-bar-top-items {
    display: flex;
    flex-flow: row nowrap;
    height: 4vh;
    width: 15vw;
}

#due-today {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 0.5em solid #282828;
}

.due-today-svg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: center / cover no-repeat url(../svgs/due-today.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
}

#due-today-holder {
    color: #f2f2f2;
    display: flex;
    flex-flow: column wrap;
    padding-left: 15px;
    height: 8vh;
    width: 14vw;
    overflow-y: scroll;
}

#due-this-week {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 0.5em solid #282828;
}

.due-this-week-svg {
    background: center / contain no-repeat url(../svgs/due-this-week.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

#due-this-week-holder {
    color: #f2f2f2;
    display: flex;
    flex-flow: column wrap;
    padding-left: 15px;
    height: 8vh;
    width: 14vw;
    overflow-y: scroll;
}

#due-this-month {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 0.5em solid #282828;
}

.due-this-month-svg {
    background: center / contain no-repeat url(../svgs/due-this-month.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

#due-this-month-holder {
    color: #f2f2f2;
    display: flex;
    flex-flow: column wrap;
    padding-left: 15px;
    height: 8vh;
    width: 14vw;
    overflow-y: scroll;
}

.due-text {
    color: #f2f2f2;
    font-size: 1.25em;
}

#project-title {
    align-items: center;
    justify-content: flex-start;
    border: 0.5em solid #282828;
}

.project-title-text {
    color: #f2f2f2;
    font-size: 1.75em;
}

.project-drop-down-right-svg {
    background: center / contain no-repeat url(../svgs/menu-right.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.project-drop-down-open-svg {
    background: center / contain no-repeat url(../svgs/menu-down.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

/* To hold projects and append to "project-title" */
.project-holder-open {
    color: #f2f2f2;
    display: flex;
    flex-flow: row wrap;
    padding-left: 15px;
    height: 15vh;
    width: 14vw;
    overflow-y: scroll;
}

.project-holder-closed {
    color: #f2f2f2;
    display: none;
    flex-flow: column wrap;
    padding-left: 15px;
    height: 0vh;
    width: 14vw;
    overflow-y: scroll;
}

.dup-project-title {
    display: flex;
    font-size: 1.25em;
    width: 15vw;
    margin: 4%;
}

#archived-projects {
    align-items: center;
    border: 0.5em solid #282828;
}

.archived-projects-text {
    color: #f2f2f2;
    font-size: 1.5em;
}

.archived-holder-open {
    color: #f2f2f2;
    display: flex;
    flex-flow: row wrap;
    padding-left: 15px;
    height: 15vh;
    width: 14vw;
    overflow-y: scroll;
}

.archived-holder-closed {
    color: #f2f2f2;
    display: none;
    flex-flow: column wrap;
    padding-left: 15px;
    height: 0vh;
    width: 14vw;
    overflow-y: scroll;
}

.archived-drop-down-right-svg {
    background: center / contain no-repeat url(../svgs/menu-right.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.archived-drop-down-open-svg {
    background: center / contain no-repeat url(../svgs/menu-down.svg);
    filter: invert(100%) sepia(1%) saturate(157%) hue-rotate(190deg) brightness(116%) contrast(90%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}