/* style for Task form popup */

.task-form-nav {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    height: 35vh;
    overflow: scroll;
    background-color: #181818;
    color: #f2f2f2;
    position: absolute; left: 30vw; top: 18vh;
}

.task-form-container {
    display: flex;
    flex-flow: column wrap;
    width: 45vw;
    height: 35vh;
}

.task-fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 45vw;
    height: 35vh;
    align-items: center;
}

.task-item {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5em;
    margin: 0;
    padding: 0.25em;
}

.input-task {
    display: flex;
    width: 45vw;
    margin: 0;
    padding: 0.25em;
    font-size: 1.75em;
}

.task-submit-button {
    display: flex;
    width: 8em;
    height: 2em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 2.5%;

    background-color: #41fc03;
}

.task-cancel-button {
    display: flex;
    width: 8em;
    height: 2em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    background-color: #de1d1d;
}

/* task bar that gets added to project nav */
.task-card-hidden {
    display: none;
    visibility: hidden;
}

.task-card {
    display: flex;
    flex-flow: row wrap;
    width: 84vw;
    height: 7vh;
    margin-left: 5%;
    border-left: 0.2em solid #f2f2f2;
    align-items: center;
    justify-content: flex-start;
    opacity: 90%;
    gap: 0.25em;
    position: relative;
}

.task-card-left {
    display: flex;
    flex-flow: row nowrap;
    width: 7vw;
    height: 7vh;
}

.checkbox-complete {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2vw;
    height: 2vh;
    margin-left: 1em;
}

.complete-button {
    display: flex;
    background: center / contain no-repeat url(../svgs/check.svg);
    flex-flow: row nowrap;
    margin: auto;
    width: 2.5vw;
    height: 2.5vh;
    filter: invert(59%) sepia(15%) saturate(2772%) hue-rotate(63deg) brightness(100%) contrast(81%);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.complete-button-hidden {
    display: none;
    visibility: hidden;
}


.task-card-middle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 62vw;
    height: 7vh;
}

.task-item {
    color: #f2f2f2;
    font-size: 1em;
}

.task-card-right {
    display: flex;
    flex-flow: row nowrap;
    width: 5vw;
    height: 7vh;
}

.edit-task {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2.75vw;
    height: 2.75vh;
    background: center / contain no-repeat url(../svgs/edit-it.svg);
    filter: invert(56%) sepia(72%) saturate(259%) hue-rotate(150deg) brightness(87%) contrast(85%);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.edit-task-hidden {
    display: none;
    visibility: hidden;
}

.delete-task {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 2.75vw;
    height: 2.75vh;
    background: center / contain no-repeat url(../svgs/delete.svg);
    filter: invert(22%) sepia(42%) saturate(5109%) hue-rotate(348deg) brightness(104%) contrast(92%);
    justify-content: center;
    align-items: center;
}

.delete-task-hidden {
    display: none;
    visibility: hidden;
}