/* style for Task form popup */

.task-form-nav {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    height: 35vh;
    overflow: scroll;
    background-color: #181818;
    color: #f2f2f2;
    position: absolute; left: 30vw; top: 18vh;
}

.task-form-container {
    display: flex;
    flex-flow: column wrap;
    width: 45vw;
    height: 35vh;
}

.task-fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 45vw;
    height: 35vh;
    align-items: center;
}

.task-item {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5em;
    margin: 0;
    padding: 0.25em;
}

.input-task {
    display: flex;
    width: 45vw;
    margin: 0;
    padding: 0.25em;
    font-size: 1.75em;
}

.task-submit-button {
    display: flex;
    width: 8em;
    height: 2em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 2.5%;

    background-color: #41fc03;
}

.task-cancel-button {
    display: flex;
    width: 8em;
    height: 2em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    background-color: #de1d1d;
}

/* task bar that gets added to project nav */

.task-card {
    display: inline-block;
    flex-flow: row wrap;
    width: 84vw;
    height: 10vh;
    border-left: 0.2em solid #f2f2f2;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    position: relative;
}

.task-card-left {

}

.checkbox-complete {

}

.complete-button-closed {

}

.task-card-middle {

}

.task-item {

}

.task-card-right {

}

.edit-task {

}

.delete-task {

}